@import "common.style.scss";
@import "movie-grid.style.scss";

.movies-container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 1rem;
}

.filter-box {
    margin-top: 10rem;
    border-radius: 0.6rem;
    border: solid 0.05rem $grey;
    display: inline-block;
}

.filter-box a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    border-right: solid 0.05rem $grey;
    padding: 0.7rem 1.7rem;
    display: inline-block;
}

.filter-box a:last-of-type {
    border: none;
}

.total-results {
    margin-top: 10rem;
    color: white;
}

.page-filter {
    display: flex;
    justify-content: space-around;
    margin-top: 7rem;
}

.page-filter .filter-box {
    margin: 0;
}

.current-page {
    background-color: #363636;
    cursor: default;
}