@import "common.style.scss";

html {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100%;
}

.movie {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.movie-details {
    display: flex;
    width: 100%;
    border-radius: 8px 8px 0 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.movie-details img {
    border-radius: 8px 0 0 0;
    width: 300px;
    height: 100%;
}

.movie-overview {
    width: 100%;
    padding: 15px 20px 0 20px;
    color: white;
    position: relative;
}

.movie-overview h1 {
    display: inline-block;
    width: 80%;
}

.vote {
    width: 25px;
    padding: 10px;
}

.overview {
    margin: 12px 0 20px;
    font-size: 17px;
    width: 90%;
}

.add-to-watchlist {
    margin-top: 12px;
    padding: 4px 10px;
    background-color: #1dbf48;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: 0.1s ease-in-out;
}

.add-to-watchlist:hover {
    background-color: #189e3b;
}

.add-to-watchlist img {
    width: 25px;
    margin-right: 5px;
}

.genres {
    width: 90%;
    display: flex;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-wrap: wrap;
}

.director {
    font-style: italic;
    color: #e8e8e8;
    margin: 20px 0 10px;
}

.genres p:not(:first-of-type) {
    padding: 2px 10px;
    background-color: #9da19e;
    border-radius: 3px;
    font-size: 15px;
}

.movie-info {
    color: white;
    border-top: solid 0.5px #363636;
    box-sizing: border-box;
    max-width: 1200px;
    height: 50px;
    padding: 0 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cast {
    background-color: white;
    padding-bottom: 200px;
}

.cast h2 {
    padding: 20px 0 20px 45px;
}

.cast span {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 45px 30px 45px;
    grid-column-gap: 45px;
    grid-row-gap: 30px;
}

.cast-card {
    width: 185px;
    min-height: 350px;
    border-radius: 4px;
    background-color: black;
    color: white;
    text-align: center;
}

.cast-card img {
    border-radius: 4px 4px 0 0;
    width: 185px;
}

.cast-card p {
    margin: 0 10px;
}

.name {
    padding-top: 3px;
    font-size: 17px;
    font-weight: bold;
}

.character {
    padding-bottom: 15px;
}

.show-all-cast-btn {
    margin: 0 auto;
    display: block;
    padding: 5px 25px;
    border-radius: 5px;
    border: solid 0.5px black;
    background-color: white;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    outline: none;
    font-size: 16px;
}

.show-all-cast-btn:hover {
    background-color: black;
    color: white;
}